@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* trending videos */
.example-card{
    float:left;
    width:335px;
    margin-top:15px;
    height:350px;  
    margin-top: 10px;
}
.card{
    margin-left: 100px;
}
#img{
    width:300px;
}
.mat-card-actions {
    margin-top: 30px;
  

}
.mat-card-content a{
    font-size: 15px;
    color:blue;
}